build
xcode

.ycm*

.*project
*.*project
*.*workspace
.settings

*.bin
!bin/**/*.bin
*.bin.orig
*.map
build/*.elf
*.o

cscope.*
TAGS

*.swp
*.swo
*.swn

.waf*
.lock*

*.pyc
*.gch

qemu_serial.txt
uart*.log

serial_dump.txt

a.out
tools/font/ttf
roundrect.h
log.txt
openocd.cfg
.DS_Store
tools/bitmaps/*.h
tools/bitmaps/*.pbi

mfg_release/

dist
compile_commands.json
*.auto
loghash_dict.pickle
analyze_mcu_flash_usage_treemap.jsonp
**/.idea
**/CMakeLists.txt

.env

.vscode
.venv
*.egg-info

waflib.zip
*~

docs/_build
artifacts/
