[submodule "src/fw/vendor/CMSIS"]
	path = third_party/cmsis_core/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "src/fw/vendor/stm32-sdk"]
	path = third_party/hal_stm32/stm32-sdk
	url = https://github.com/pebble-dev/stm32-sdk.git
[submodule "src/bluetooth-fw/nimble/vendor/mynewt-nimble"]
	path = src/bluetooth-fw/nimble/vendor/mynewt-nimble
	url = https://github.com/apache/mynewt-nimble.git
[submodule "src/bluetooth-fw/nimble/vendor/ti-service-packs"]
	path = src/bluetooth-fw/nimble/vendor/ti-service-packs
	url = https://git.ti.com/git/ti-bt/service-packs.git
[submodule "third_party/hal_nordic/nrfx"]
	path = third_party/hal_nordic/nrfx
	url = https://github.com/NordicSemiconductor/nrfx
