#--extra-index-url https://pebble:W9Ngyc3ohHFvLKfUUxmVruCmBaHQxNBCpfDCXyoAwLJgncZmAw@pypi.pbl.io/
Pillow
freetype-py
ply==3.4
pyusb==1.3.1
pyserial
sh==1.04
pypng
pexpect
cobs==1.0.0
svg.path
requests
GitPython==1.0.1
pyelftools
pycryptodome
mock
nose
boto
prompt-toolkit>=0.55
enum34
bitarray
pep8
polib
intelhex>=2.1,<3
protobuf
grpcio-tools
nanopb
certifi
libclang
packaging

# pypi.getpebble.com provided modules
#pebble.loghash>=2.6
#pebble.programmer>=0.0.4
#pebble.commander==0.0.11
libpebble2>=0.0.16
pyftdi==0.56.0
pathlib
