#--extra-index-url https://pebble:W9Ngyc3ohHFvLKfUUxmVruCmBaHQxNBCpfDCXyoAwLJgncZmAw@pypi.pbl.io/
Pillow==2.0.0
freetype-py==1.0
ply==3.4
pyusb==1.0.0b2
pyserial==2.7
sh==1.04
pypng==0.0.16
pexpect
cobs<1.2.0
svg.path<5
requests
GitPython==1.0.1
pyelftools==0.23
pycrypto==2.6.1
mock
nose
boto
prompt-toolkit>=0.55
enum34
bitarray
pep8
polib
intelhex>=2.1,<3

# pypi.getpebble.com provided modules
#pebble.loghash>=2.6
#pebble.programmer>=0.0.4
#pebble.commander==0.0.11
libpebble2>=0.0.16
#pyftdi==0.10.5
