pillow
freetype-py
ply==3.4
pyusb==1.3.1
pyserial
sh==1.04
pypng
pexpect
cobs==1.0.0
svg.path
requests
GitPython==1.0.1
pyelftools
pycryptodome
mock
nose
boto
prompt_toolkit>=0.55
enum34
bitarray
pep8
polib
intelhex>=2.1,<3
protobuf
grpcio-tools
nanopb
certifi
libclang
packaging
libpebble2>=0.0.16
pyftdi==0.56.0
pathlib

-e python_libs/pblprog
-e python_libs/pebble-commander
-e python_libs/pulse2
-e python_libs/pebble-loghash
