html[data-theme="light"],
html[data-theme="dark"] {
  --pst-color-primary: #3577b9;
  --pst-color-secondary: #6ab4ff;
}

#rtd-footer-container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@font-face {
  font-family: "Tomorrow";
  font-weight: 400;
  src: url("../fonts/Tomorrow/Tomorrow-Regular.ttf");
}

@font-face {
  font-family: "Tomorrow";
  font-weight: 500;
  src: url("../fonts/Tomorrow/Tomorrow-Medium.ttf");
}

@font-face {
  font-family: "Tomorrow";
  font-weight: 600;
  src: url("../fonts/Tomorrow/Tomorrow-SemiBold.ttf");
}

html {
  --pst-font-family-heading: "Tomorrow", sans-serif;
}

.caption, .logo__title, .home-title {
  font-family: "Tomorrow", sans-serif;
}
